doctype html
meta charset='utf-8'

div style='font-family: Gennokaku;'

script src='/scripts/vender/phaser.2.3.0.min.js'
script src='/scripts/lib/gennokaku.js'

script src='scripts/lib/Color.js'
script src='scripts/lib/Keys.js'
script src='scripts/lib/Limited.js'
script src='scripts/lib/PhaserSoundManager.js'
script src='scripts/lib/Selection.js'
script src='scripts/lib/Text.js'
script src='scripts/lib/Util.js'

script src='scripts/main.js'
